<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WS_с_интернетом.Properties.Settings.testConnectionString" connectionString="Data Source=PAVEL-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="WS_с_интернетом.Properties.Settings.testConnectionString1" connectionString="Data Source=kvlad_new;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="WS_с_интернетом.Properties.Settings.testConnectionString2" connectionString="Data Source=NPK1U4PC;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
